@model Movie

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/img/@Model.ImageUrl" class="card-img" alt="@Model.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>


                    @*@if (Model.Actors != null)
                    {
                        <ul class="list-group">
                            @foreach (var actor in Model.Actors)
                            {
                                <li class="list-group-item disabled" aria-disabled="true">@actor</li>

                            }
                        </ul>
                    }*@
                    <a asp-controller="movies" asp-action="details" asp-route-id="@Model.MovieId" class="btn btn-primary mt-2">Film Detaylarını İncele</a>
                </div>
            </div>
        </div>
    </div>