<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a href="/" class="navbar-brand">MovieApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/movies/list" class="nav-link">Film Listesi</a>
                </li>
                <li class="nav-item active">
                    <a href="/home/about" class="nav-link">Kullanım</a>
                </li>
                <li class="nav-item active">
                    <a href="/movies" class="nav-link">Haberler</a>
                </li>
                <li class="nav-item active">
                    <a href="/movies/create" class="nav-link">Film Ekle</a>
                </li>
                <li class="nav-item active">
                    <a href="/admin/movielist" class="nav-link">Admin Panel</a>
                </li>
            </ul>
            <form action="/movies/list" method="get" class="form-inline">
                <input class="form-control mr-2" name="q" type="text" placeholder="Arama yap" />
                <button class="btn btn-outline-light mr-0" type="submit">Ara</button>
            </form>
        </div>
    </div>
</nav>