@model HomePageViewModel

@section header{
    @await Html.PartialAsync("_jumbotron")
}

<h1>Kapak Sayfası</h1>
<div id="filmler">

    @foreach (var movie in Model.PopularMovies)
    {
        @await Html.PartialAsync("_movie", movie)
    }

</div>
